@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css');
input[type="text"] {
    margin: 0 auto;
    text-align: left;
    width: 430px;
    display: block;
    padding: 5px;
    font-size: 1.2em;
    border: solid 2px #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}